@use './../../../../styles/abstracts' as *;


.multi-thumb-slider {
  position: absolute;
  top: 36px;
  left: 0;
  width: $gradient-preview-width + px;
  height: 24px;
  cursor: copy;

  &.limit {
    pointer-events: none;
  }

  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    pointer-events: none;
    position: absolute;
    border: none;
    left: 0;
    top: 50%;
    width: $gradient-preview-width + px;
    outline: none;
    height: 8px;
    margin: 0;
    padding: 0;
    transform: translateY(-50%);
    background: transparent;

    &.active {
      &::-webkit-slider-thumb {
        outline: 2px solid $border-color;
      }

      &::-moz-range-thumb {
        outline: 2px solid $border-color;
      }
    }

    &::-webkit-slider-thumb {
      @include clickable-element;
      -webkit-appearance: none;
      appearance: none;
      pointer-events: all;
      width: 24px;
      height: 24px;
      background-color: var(--gradient-thumb-color, black);
      border: 3px solid $white;
      border-radius: 50%;
      box-shadow: $shadow;

      &:hover {
        outline: 2px solid $border-color;
      }
    }

    &::-moz-range-thumb {
      @include clickable-element;
      -moz-appearance: none;
      appearance: none;
      pointer-events: all;
      width: 24px;
      height: 24px;
      background-color: var(--gradient-thumb-color, black);
      border: 3px solid $white;
      border-radius: 50%;
      box-shadow: $shadow;

      &:hover {
        outline: 2px solid $border-color;
      }
    }
  }
}