@use './../../../styles/abstracts' as *;


.gradient-range-settings {
  @include theme-transition;
  width: 591px;
  height: 120px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 24px;
  background-color: var(--surface-color);
  padding: 32px 32px 36px 32px;
  border: 2px solid var(--border-color);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  &__slider-container {
    @include theme-transition;
    position: relative;
    width: $gradient-preview-width + px;
    height: $gradient-preview-height + px;
    border: 2px solid var(--border-color);
    border-radius: 40px;
  }

  &__swap-btn {
    @include oval-button(true, 52px);
    padding: 0;
    border-radius: 50%;
  }
}
