@use 'abstracts' as *;

* {
  box-sizing: border-box;
  transition: background-color 500ms ease-in-out;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  font-family: $font-main-regular;
}
