body {
  margin: 0;
}

.gradient {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: LightSlateGrey;

  &__container {
    width: 800px;
    padding: 30px;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 50px;
    box-shadow: -1px 4px 14px -3px rgba(0, 0 ,0, 1);
    background: white;
  }
}

.gradient-code-result {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__value {
    width: 500px;
    height: 100px;
    padding: 10px;
    overflow-y: auto;
    border: 2px solid dodgerblue;
    border-radius: 10px;
  }
}
